<div class="container-probs">

    <div class="container">
              <div class="row">
                <div class="cards">
                  <div class="card">
                      <div class="inner">
                        <img class="card-img-top" src="https://images.unsplash.com/photo-1525207106105-b340f7384b30?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="chaine">
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Chaine</h5>
                        <p class="card-text">Tu penses que tu as des problèmes de chaines ? N'hésites pas et click sur le bouton en bas pour découvrir notre liste exhaustive de problèmes potentiels qui nous permettra de te fournir un diagnostique et des solutions adaptées.</p>
                        <!-- Button trigger modal -->
                        <a href="#" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#chainModal">Prob de chaine ? </a>
                        <!-- Modal -->
                        <div class="modal fade" id="chainModal" tabindex="-1" aria-labelledby="chainModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-xl modal-dialog-scrollable">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="chainModalLabel">Quels sont vos problèmes sur votre chaine ? </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                ...
                                <div>

                                  <%= simple_form_for [bike, @chain] do |f| %>
                                    <strong> QUESTION 1 : ETAT GLOBAL ? </strong> <br>
                                    <strong> Détail : </strong> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum mollitia ea quos explicabo reprehenderit nam, sunt asperiores, atque aliquid dolor dignissimos qui itaque voluptas fuga. Asperiores eum cumque aliquid totam! <br>
                                      <%= f.input :state, :collection => %w[Bon Moyen Usé Mauvais]%>
                                    <strong> QUESTION 2 :</strong> <br>
                                    <strong> Détail : </strong> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum mollitia ea quos explicabo reprehenderit nam, sunt asperiores, atque aliquid dolor dignissimos qui itaque voluptas fuga. Asperiores eum cumque aliquid totam! <br>
                                      <%= f.input :broken %>
                                    <strong> QUESTION 3 : </strong> <br>
                                    <strong> Détail : </strong> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum mollitia ea quos explicabo reprehenderit nam, sunt asperiores, atque aliquid dolor dignissimos qui itaque voluptas fuga. Asperiores eum cumque aliquid totam! <br>
                                      <%= f.input :rust %>
                                    <strong> QUESTION 4 : </strong> <br>
                                    <strong> Détail : </strong> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum mollitia ea quos explicabo reprehenderit nam, sunt asperiores, atque aliquid dolor dignissimos qui itaque voluptas fuga. Asperiores eum cumque aliquid totam! <br>
                                      <%= f.input :derail %>
                                    <strong> QUESTION 5 : ETAT des maillons de la chaine ? </strong> <br>
                                    <strong> Détail : </strong> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum mollitia ea quos explicabo reprehenderit nam, sunt asperiores, atque aliquid dolor dignissimos qui itaque voluptas fuga. Asperiores eum cumque aliquid totam! <br>
                                      <%= f.input :chainlink, :collection => ["Graissés et bien assemblés", 'Non graissé et assemblés', 'correct mais, plus ou moins alignés', 'Usé et non-alignés'] %>

                                      <%= f.submit "Enregistrer", data: {turbo_confirm: "Are you sure?"}%>
                                  <% end %>

                                </div>
                                ...
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
    </div>

</div>
