<div class="card-provisoire-chain" > <!-- Modal Chain DEBUT -->
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#chainModal">
    CHAIN Prob
  </button>

  <!-- Modal -->
  <div class="modal fade" id="chainModal" tabindex="-1" aria-labelledby="chainModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="chainModalLabel">Quels sont vos problèmes sur votre chaine ? </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
          <div>

            <%= simple_form_for [bike, @chain] do |f| %>
            <strong> QUESTION 1 : ETAT GLOBAL ? </strong> <br>
            <strong> Détail : </strong> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum mollitia ea quos explicabo reprehenderit nam, sunt asperiores, atque aliquid dolor dignissimos qui itaque voluptas fuga. Asperiores eum cumque aliquid totam! <br>
              <%= f.input :state, :collection => %w[Bon Moyen Usé Mauvais]%>
            <strong> QUESTION 2 :</strong> <br>
            <strong> Détail : </strong> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum mollitia ea quos explicabo reprehenderit nam, sunt asperiores, atque aliquid dolor dignissimos qui itaque voluptas fuga. Asperiores eum cumque aliquid totam! <br>
              <%= f.input :broken %>
            <strong> QUESTION 3 : </strong> <br>
            <strong> Détail : </strong> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum mollitia ea quos explicabo reprehenderit nam, sunt asperiores, atque aliquid dolor dignissimos qui itaque voluptas fuga. Asperiores eum cumque aliquid totam! <br>
              <%= f.input :rust %>
            <strong> QUESTION 4 : </strong> <br>
            <strong> Détail : </strong> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum mollitia ea quos explicabo reprehenderit nam, sunt asperiores, atque aliquid dolor dignissimos qui itaque voluptas fuga. Asperiores eum cumque aliquid totam! <br>
              <%= f.input :derail %>
            <strong> QUESTION 5 : ETAT des maillons de la chaine ? </strong> <br>
            <strong> Détail : </strong> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum mollitia ea quos explicabo reprehenderit nam, sunt asperiores, atque aliquid dolor dignissimos qui itaque voluptas fuga. Asperiores eum cumque aliquid totam! <br>
              <%= f.input :chainlink, :collection => ["Graissés et bien assemblés", 'Non graissé et assemblés', 'correct mais, plus ou moins alignés', 'Usé et non-alignés'] %>

              <%= f.submit "Enregistrer", data: {turbo_confirm: "Are you sure?"}%>
            <% end %>

          </div>
          ...
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>
</div> <!-- Modal Chain FIN -->
