<div class="container">
  <div class="bikes-banner">

    <div class="bike-form">
      <h3> Ajoute un nouveau vélo à diagnostiquer : </h3>
      <%= simple_form_for @bike do |f| %>
      <%= f.input :name, label: "Nom de ton vélo (celui que tu souhaites, pour le retrouver plus tard)", input_html: {class: "bg-white"} %>
      <%= f.input :model, label: "Modèle du vélo (si tu le connais)", input_html: {class: "bg-white"} %>
      <%= f.input :brand, label: "Marque du vélo (si visible)", input_html: {class: "bg-white"} %>
      <%= f.input :photo, as: :file, input_html: {class: "bg-white"}, label: "Une photo de ton vélo pour le retrouver facilement" %>
      <%= f.submit "Ajouter", class: "btn btn-warning text-white rounded" %>
      <% end %>
      <br>
    </div>

    <div class="bike-list">
      <h3> Ou bien choisis un vélo parmi ceux que tu as déjà : </h3>
        <% @bikes.each do |bike| %>
            <%= simple_form_for bike, method: "get" do |f| %>
              <div class="card-product card-border">
                <% if bike.photo.attached? %>
                  <%= cl_image_tag bike.photo.key, class: "card-photo" %>
                <% else %>
                  <%= image_tag "avatar-default.jpg" %>
                <% end %>
                <div class="card-product-infos">
                  <h2><%= bike.name  %></h2>
                  <p><%= bike.brand %> - <em><%= bike.model %></em></p>
                </div>
                  <%= f.submit "Diagnostiquer", class: "btn btn-warning text-white roundedme-2" %>
              </div>
              <br>
            <% end %>
        <% end %>
    </div>

  </div>
</div>
