
<div>

  <div class="container" style="padding-top:100px;"></div>

  <div class="container">
      <%= render "diag-progress", bike: Bike.new %>

        <div class="top-navigation-btn" style="align-items:center;">
          <%= link_to "◀︎ Retour", bikes_path, class: "btn btn-warning text-white" %>
          <%= render "bike-infos", bike: @bike %>
          <%= link_to "Obtenir mon bilan ▶︎", results_bike_path(@bike), class: "btn btn-success text-white" %>
        </div>

      <%= render "bike-schema" %>

      <div class="cards">
        <% @parts = [Chain, Brake, Wheel] %>
        <%= render "bikes/parts/parts-preview-conditional", bike: @bike, parts: @parts %>

        <%# FAKE PARTS CARDS %>
        <% fake_parts = ["handlebars", "saddles", "pedals", "frames"] %>
        <% fake_parts.each do |parts| %>
        <%= render "bikes/parts/modal-#{parts}", bike: @bike %>
        <% end %>
        <%# END OF FAKE PARTS CARDS %>
      </div>

      <%# <%= render "diag-history", bike: @bike %>
  </div>

</div>
