<div class="">

  <div class="">

    <div class="">
      <h1>Show bike id : <%= @bike.id %></h1>
      <h2> name : <%= @bike.name  %></h2>
      <p> current_user : <%= current_user %></p>
    </div>

    <div class="">
      <span> Model : <%= @bike.model %></span>
      <br>
      <span> Brand : <%= @bike.brand %></span>
    </div>

  </div>

  <br>

  <div class="">

    <div class="">
      <button class="btn btn-outline-warning">CHAIN Prob</button>
    </div>

  </div>

</div>
