<div class="">

  <div class="container-provisoire">

    <div class="container-provisoire-infos">
      <h1>Show bike id : <%= @bike.id %></h1>
      <h2> name : <%= @bike.name  %></h2>
      <p> current_user : <%= current_user %></p>
    </div>

    <div class="container-provisoire-infos">
      <span> Model : <%= @bike.model %></span>
      <br>
      <span> Brand : <%= @bike.brand %></span>
    </div>

  </div>

  <br>

  <div class="container-provisoire-white">

    <%= render "modal-chain", bike: @bike %>
    <p><%= @chain.state %></p>
  </div>

</div>
