

<div class="container-profile">
  <div class="header-wrapper">
    <header></header>
    <div class="cols-container">
      <div class="left-col">
        <div class="img-container">
            <% if current_user.photo.key %>
              <%= cl_image_tag current_user.photo.key, crop: :thumb, gravity: :face%>
            <% else %>
              <%= image_tag "profil-image-default" %>
            <% end %>
          <span></span>
        </div>
        <h2>🚴‍♂️ Hello, <%= current_user.first_name %> <%= current_user.last_name %> 🚴‍♂️</h2>
        <p>＠ email : <%= current_user.email %> </p>
        <%# <p>A définir .... </p> %>

        <ul class="about">
          <li><span><%= current_user.bikes.size %></span>Vélos</li>
          <li><span><%= current_user.bikes.chain.size %></span>Diagnostiques</li>
          <li><span>5</span>Réparations</li>
        </ul>

        <div class="content">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, sequi amet. Eveniet dolore obcaecati ipsum, harum omnis minima quis consequatur dolorem asperiores at corporis tempora natus voluptas libero rem labore.</p>

          <ul>
            <li><i class="fab fa-printerest"></i>Link 1</li> <!-- possible lien avec un fab (icone texte)-->
            <li><i class="fab fa-printerest"></i>Link 2</li> <!-- possible lien avec un fab (icone texte)-->
            <li><i class="fab fa-printerest"></i>Link 3</li> <!-- possible lien avec un fab (icone texte)-->
          </ul>
        </div>
      </div>
      <div class="right-col">
        <nav>
          <ul>
            <li><a href="#">Mes Vélos</a></li>
            <li><a href="#">Mes Shops</a></li>
            <li><a href="#">groupes</a></li>
          </ul>
          <button> <%= link_to "Ajouter un Vélo", bikes_path %></button>
        </nav>
        <div class="photos">
          <% current_user.bikes.each do |b| %>
            <% if b.photo.key %>
              <div>
                <%= cl_image_tag b.photo.key%>
                <h5><%= b.name %></h5>
              </div>
            <% else %>
              <div class="card-bike">
                <h5><%= b.name %></h5>
                <%= image_tag "https://images.unsplash.com/photo-1485965120184-e220f721d03e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"%>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
